@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@theme{
  --color-pink:#FF90A8;
  --color-nootblue:#64DDFF;
}
